@model PurchaseOrderApp112916.Models.MyCompanyInfo


@{
    Layout = null;
}


<table class="tg" align="center">
    <tr>
        <th style="text-align:right">Customer Name:</th>
        <td>&nbsp; @Model.MyCompanyName</td>
    </tr>
    <tr>
        <th style="text-align:right">Address Line 1:</th>
        <td>&nbsp; @Model.MyAddressLine1</td>
    </tr>
    <tr>
        <th style="text-align:right">Address Line 2:</th>
        <td>&nbsp; @Model.MyAddressLine2</td>
    </tr>
    <tr>
        <th style="text-align:right">Address Line 3:</th>
        <td>&nbsp; @Model.MyAddressLine3</td>
    </tr>
    <tr>
        <th style="text-align:right">City:</th>
        <td>&nbsp; @Model.MyCity</td>
    </tr>
    <tr>
        <th style="text-align:right">State:</th>
        <td>&nbsp; @Model.MyState</td>

    </tr>
    <tr>
        <th style="text-align:right">Zip:</th>
        <td>&nbsp; @Model.MyZip</td>
    </tr>
</table>
